/****** Object:  Database [Depi_Project1]    Script Date: 12/5/2025 1:14:17 AM ******/
CREATE DATABASE [Depi_Project1]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[DimAlert]    Script Date: 12/5/2025 1:14:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAlert](
	[AlertKey] [int] IDENTITY(1,1) NOT NULL,
	[AlertType] [nvarchar](100) NULL,
	[AlertLevel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AlertKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimAlert_Alert] UNIQUE NONCLUSTERED 
(
	[AlertType] ASC,
	[AlertLevel] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 12/5/2025 1:14:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[YearInt] [int] NULL,
	[MonthInt] [int] NULL,
	[DayInt] [int] NULL,
	[WeekOfYear] [int] NULL,
	[QuarterInt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDevice]    Script Date: 12/5/2025 1:14:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDevice](
	[DeviceKey] [int] IDENTITY(1,1) NOT NULL,
	[DeviceID] [nvarchar](100) NULL,
	[DeviceType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimDevice_Device] UNIQUE NONCLUSTERED 
(
	[DeviceID] ASC,
	[DeviceType] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLocation]    Script Date: 12/5/2025 1:14:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocation](
	[LocationKey] [int] IDENTITY(1,1) NOT NULL,
	[Governorate] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Zone] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimLocation_Loc] UNIQUE NONCLUSTERED 
(
	[Governorate] ASC,
	[City] ASC,
	[Zone] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETL_Control]    Script Date: 12/5/2025 1:14:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_Control](
	[ControlID] [int] IDENTITY(1,1) NOT NULL,
	[SourceTable] [nvarchar](200) NULL,
	[LastLoadedTimestamp] [datetime] NULL,
	[LastRun] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ControlID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SourceTable] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactWeather]    Script Date: 12/5/2025 1:14:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactWeather](
	[FactKey] [int] IDENTITY(1,1) NOT NULL,
	[DateKey] [int] NULL,
	[DeviceKey] [int] NULL,
	[LocationKey] [int] NULL,
	[AlertKey] [int] NULL,
	[Timestamp] [datetime] NULL,
	[Temperature_C] [float] NULL,
	[Humidity_pct] [float] NULL,
	[WindSpeed_kmh] [float] NULL,
	[WindDirection] [nvarchar](10) NULL,
	[Rainfall_mm] [float] NULL,
	[CloudCoverage_pct] [float] NULL,
	[UV_Index] [float] NULL,
	[Pressure_hPa] [float] NULL,
	[Battery_pct] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeatherStation_Pro]    Script Date: 12/5/2025 1:14:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherStation_Pro](
	[Timestamp] [datetime] NULL,
	[DeviceID] [nvarchar](100) NULL,
	[DeviceType] [nvarchar](100) NULL,
	[Governorate] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Zone] [nvarchar](50) NULL,
	[Temperature_C] [float] NULL,
	[Humidity_pct] [float] NULL,
	[WindSpeed_kmh] [float] NULL,
	[WindDirection] [nvarchar](10) NULL,
	[Rainfall_mm] [float] NULL,
	[CloudCoverage_pct] [float] NULL,
	[UV_Index] [float] NULL,
	[Pressure_hPa] [float] NULL,
	[Battery_pct] [float] NULL,
	[AlertLevel] [int] NULL,
	[AlertType] [nvarchar](100) NULL,
	[Advisory] [nvarchar](300) NULL
) ON [PRIMARY]
GO
